<h1 class="nav" style="background-color:rgb(226, 43, 211); color:antiquewhite">
  WELCOME TO SURYA HOSPITAL SERVICES
</h1>
<ul class="nav" style="background-color:rgb(9, 15, 9)">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" routerLink="/home" style="color:white">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" routerLink="/admin" style="color:white">Admin</a>
  </li>
</ul>
<div class="container">
<img src="https://static2.bigstockphoto.com/8/5/2/large1500/258683404.jpg" style="width:100%">
  <div style="position:absolute;top:60%;left:50%;transform:translate(-50%,-50%);">
    <h3 style="color:rgb(76, 0, 255)">TAKE CARE OF <br/> YOUR HEALTH</h3>
  </div>
<div style="position: absolute; top: 80%; left: 50%; transform: translate(-50%, -50%);"><div class="btn-group">
  <a routerLink="/booking-appointment" class="btn btn-primary active" aria-current="page">Book an Appointment</a>
</div></div>
 </div>
