.card {
  border: none;
  width: 500px;
  padding: 40px;
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%,-50%);
  background:rgb(14, 17, 168);
  background: linear-gradient(90deg, hsla(205, 46%, 30%, 1)100%);

}

  .card h1 {
    color: white;
  }

label {
  color: white;
}
